
<div class="navegacion"><app-navbar></app-navbar></div>

<div class="card container mt-5">
    <h1 class="mt-5">Historial del tiempo de uso</h1>

    <hr>

    <table class="table mb-5">
        <!-- encabezado de la tabla -->
        <thead>
            <tr class="table-primary">
                <th scope="col">Fecha</th>
                <th scope="col">Hora inicio</th>
                <th scope="col">Hora final</th> 
            </tr>
        </thead>
        <!-- consumir data que viene de la base de datos -->
        <tbody class="table table-light table-striped">
            <tr>
                <td>01/09/2021</td>
                <td>07:00</td>
                <td>09:00</td>
            </tr>
            <tr>
                <td>01/09/2021</td>
                <td>07:00</td>
                <td>09:00</td>
            </tr>
        </tbody>

    </table>

</div>