<div class="navegacion">
    <app-navbar></app-navbar>
</div>

<div class="alcentro">
    <div class="card mt-5 alcentro" style="width: 40vw;">
        <img src="https://i.imgur.com/ewn3KjI.png" class="mt-5 mb-5" style="width: 8rem;" />

        <form class="alcentro mb-5">
            <div>
                <label class="visually-hidden" for="autoSizingInput">Nombre</label>
                <input type="text" class="form-control" id="nombresilla">
            </div>
        </form>

        <label class="visually-hidden" for="ubicacion">Ubicación</label>
        <div class="mb-5">
            <select class="form-select" id="ubicacion" style="width: 12rem;">
                <option selected>--Elija--</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="mb-5">
            <button type="submit" class="btn btn-primary" style="width: 12rem;">Registrar</button>
        </div>
    </div>
</div>