<div class="navegacion">
    <app-navbar></app-navbar>
</div>



<div class="container-fluid mt-5">

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Selecciona tu silla</h3>
                    <div class="form-group">
                        <select class="form-select mr-5" style="width: 10rem;" id="silla" >
                            <option selected>Ubicación</option>
                            <option *ngFor="let item of datos" value="{{item.id_silla}}">{{item.nombre_silla}} | {{item.ubicacion_silla}}</option>
                        
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" (click)="seleccionarSilla()">Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Tareas realizadas</h3>
                    <hr>
                    <table class="table mb-5">
                        <!-- encabezado de la tabla -->
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Tarea</th>
                                <th scope="col">Frecuencia de uso</th>
                            </tr>
                        </thead>
                        <!-- consumir data que viene de la base de datos -->
                        <tbody class="table table-light table-striped">
                            <tr *ngFor="let tarea of tareas_realizadas">
                                <td>{{tarea.tarea}}</td>
                                <td>{{tarea.veces_total}} veces</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Frecuencia de tareas por fecha</h3>
                    <hr>
                    
                    <div class="form-group">
                        <select class="form-select mr-5" style="width: 10rem;" id="tarea" >
                            <option selected>Elegir tarea...</option>
                            <option *ngFor="let tarea of tareas" value="{{tarea.tarea}}">{{tarea.tarea}}</option>
                        
                        </select>
                        <!-- <select class="form-select mr-5" style="width: 10rem;" id="tiempo" >
                            <option selected>Periodo de tiempo</option>
                            <option *ngFor="let item of datos" value="{{item.id_silla}}">{{item.nombre_silla}} | {{item.ubicacion_silla}}</option>
                        
                        </select> -->
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" (click)="obtenerVecesPorTarea()"> Obtener datos</button>
                    </div>
                    <h6>Visualizando tarea: {{tarea}}</h6>
                    <table class="table mb-5">
                        <!-- encabezado de la tabla -->
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Fecha</th>
                                <th scope="col">Frecuencia de uso</th>
                            </tr>
                        </thead>
                        <!-- consumir data que viene de la base de datos -->
                        <tbody class="table table-light table-striped">
                            <tr *ngFor="let item of tareas_fecha">
                                <td>{{item.fecha_registro | date }}</td>
                                <td>{{item.veces_total}} veces</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Tareas por horas</h3>
                    <hr>
                    <table class="table mb-5">
                        <!-- encabezado de la tabla -->
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Tarea</th>
                                <th scope="col">Horas de uso</th>
                            </tr>
                        </thead>
                        <!-- consumir data que viene de la base de datos -->
                        <tbody class="table table-light table-striped">
                            <tr *ngFor="let item of tarea_horas_totales">
                                <td>{{item.tarea }}</td>
                                <td>{{item.total_horas}} horas</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Grafica de Tareas realizadas</h3>
                    <hr>
                    <div>
                        <div>
                          <div class="chart">
                            <canvas baseChart
                              [data]="pieChartData"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              [options]="pieChartOptions"
                              [colors]="pieChartColors"
                              [legend]="pieChartLegend">
                            </canvas>
                          </div>
                        </div>
                      </div>
                      <div>

                      </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Grafica de Frecuencia de tareas</h3>
                    <hr>
                    <div>
                        <div>
                          <div style="display: block">
                            <canvas baseChart
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [legend]="barChartLegend"
                              [chartType]="barChartType">
                            </canvas>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Grafica de Tareas por numero de horas</h3>
                    <hr>
                    <div>
                        <div>
                        <div style="display: block">
                            <canvas baseChart
                            [data]="doughnutChartData"
                              [labels]="doughnutChartLabels"
                              [chartType]="doughnutChartType">
                            </canvas>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>