<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">Proyecto 1</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/menorUso">Menor uso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mayorUso">Mayor uso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/horarioUso">Horario uso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/historialTiempoUso">Historial uso</a>
                </li>
                
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-danger" type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>