<div class="navegacion">
    <app-navbar></app-navbar>
</div>

<div class="alcentro">
    <div class="card mt-5 alcentro" style="width: 40vw;">
        <img src="https://imgur.com/6Q51Hqp.png" class="mt-5 mb-5" style="width: 8rem;" />

        <form class="alcentro mb-5">
            <div>
                <label class="visually-hidden" for="autoSizingInput">¿Que silla quieres utilizar?</label>
                <form class="mb-3">
                    <select class="form-select" style="width: 10rem;" id="ubicacion" >
        
                        <option selected>--Silla a utilizar--</option>
                        
                        <option *ngFor="let item of datos" value="{{item.id_silla}}">{{item.nombre_silla}} | {{item.ubicacion_silla}}</option>
                    </select>
                </form>
            </div>
        </form>


        <form class="alcentro mb-5">
            <div>
                <label class="visually-hidden" for="autoSizingInput">Tarea</label>
                <input type="text" class="form-control" id="nombreTarea">
            </div>
        </form>

        <form class="alcentro mb-5">
            <div>
                <label class="visually-hidden" for="autoSizingInput">Duración de la tarea (minutos)</label>
                <input type="number" class="form-control" id="duracion">
            </div>
        </form>

        <div class="mb-5">
            <button type="submit" class="btn btn-primary" style="width: 12rem;">Comenzar</button>
        </div>
    </div>
</div>