<ng-container>
    <div class="container p-4 mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 bg-transparent">
                    <div class="card-header text-center border-0 bg-transparent text-white fw-bolder">
                        <h1>{{ultimoRegistro.fecha_registro | date:'fullDate' }}</h1>
                        <hr>
                        <h2>Ultima actualizacion {{ultimoRegistro.hora_registro | date:'mediumTime'}}</h2>
                    </div>
                    <div class="card-body">
                        <div class="row pb-4">
                            <div class="col-md-6">
                                <div class="card shadow rounded text-center">
                                    <div class="card-header bg-dark text-white border-0">
                                        <h3><i class="fas fa-temperature-low"></i> Temperatura</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row alcentro">
                                            <div class="col">
                                                <img src={{imgTemp}} style="width: 5rem;"/>
                                            </div>
                                            <div class="col">
                                                <p class="fs-1">{{ultimoRegistro.temperatura}} °C</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card shadow rounded text-center">
                                    <div class="card-header bg-dark text-white border-0">
                                        <h3><i class="fas fa-tint"></i> Humedad</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row alcentro">
                                            <div class="col">
                                                <img src={{imgHum}} style="width: 5rem;"/>
                                            </div>
                                            <div class="col">
                                                <p class="fs-1">{{ultimoRegistro.humedad}} %</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-4">
                                <div class="card shadow rounded text-center">
                                    <div class="card-header bg-dark text-white border-0">
                                        <h3><i class="fas fa-wind"></i> Velocidad de viento</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row alcentro">
                                            <div class="col">
                                                <img src={{imgVel}} style="width: 5rem;"/>
                                            </div>
                                            <div class="col">
                                                <p class="fs-1">{{ultimoRegistro.velocidad_viento}} km/h</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card shadow rounded text-center">
                                    <div class="card-header bg-dark text-white border-0">
                                        <h3><i class="fas fa-compass"></i> Direccion de viento</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row alcentro">
                                            <div class="col">
                                                <img src={{imgDir}} style="width: 5rem;"/>
                                            </div>
                                            <div class="col">
                                                <p class="fs-1">{{ultimoRegistro.direccion_viento}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card shadow rounded text-center">
                                    <div class="card-header bg-dark text-white border-0">
                                        <h3><i class="fas fa-sun"></i> Cantidad de luz</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row alcentro">
                                            <div class="col">
                                                <img src={{imgLuz}} style="width: 5rem;"/>
                                            </div>
                                            <div class="col">
                                                <p class="fs-1">{{ultimoRegistro.cantidad_luz}} Lumens</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h3 style="color: white;">{{estatus}}</h3>
        </div>
    </div>
</ng-container>